<html>



<HEAD>
<title>EDA2 Station beam power</title>
</HEAD>

<CENTER><H1>EDA2 station beam power at frequency = FREQ_VALUE_MHZ MHz ( Channel = FREQ_CHANNEL )</H1></CENTER>

<head>

       <style> 
            video { 
                width:100%; 
                height:100%; 
            } 
        </style> 

<script language="JavaScript"><!--
function refreshIt() {
   if (!document.images) return;
   document.images['edapower'].src = 'last_power_vs_time.png?' + Math.random();
   setTimeout('refreshIt()',5000); // refresh every 5 secs
}
//--></script>
</head>

<body onLoad=" setTimeout('refreshIt()',5000)">

<img src="last_power_vs_time.png" name="edapower">


</body>
</html>